* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Encabezado-incio*/
.fondo{
    height: 100vh !important;
    background-image: url(/imagenes/slider-1.png);
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 14vh;
    width: 100%;
    border-bottom: 1px solid #E0752F;
  }
  .head .logo {
    margin-left: 20px;
  }
  .head .logo .imglogo {
    max-width: 128.5px;
    margin-right: 390PX;
  }
  .head .logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  .head .navbar a {
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .head .navbar a:hover {
    border-bottom: 3px solid #7c7c7c;
  }

  .header{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
  }

  .title{
    font: normal normal 600 48px/48px Poppins;
    margin-top: 158px;
    margin-left: 101px;
    width: 554px;
    height: 115px;
  }

  .header p{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-left: 101px;
    width: 343px;
    height: 42px;
  }

.btn{
    margin-top: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
.btn-home{
    margin-top: 30px;
    margin-left: 101px;
    width: 144px;
    height: 48px;
    border-radius: 25px;
    background-color: #E0752F;
    display: flex;
    text-align: center;
    justify-content: center;
}

main .btn:hover{
    background: none;
}





